dot-config/exercism
dot-config/fish/completions/asdf.fish
dot-config/git/allowed_signers

dot-config/emacs/auto-save-list/
dot-config/emacs/custom.el
dot-config/emacs/eln-cache/
dot-config/emacs/elpa/
dot-config/emacs/forge-database.sqlite
dot-config/emacs/persist/
dot-config/emacs/places
dot-config/emacs/projectile-bookmarks.eld
dot-config/emacs/projectile.cache
dot-config/emacs/projects
dot-config/emacs/recentf
dot-config/emacs/request/
dot-config/emacs/transient/
dot-config/emacs/tramp
dot-config/emacs/tree-sitter/
dot-config/emacs/%backup%~

caddy/Caddyfile

dot-claude/cache/
dot-claude/debug/
dot-claude/file-history/
dot-claude/history.jsonl
dot-claude/paste-cache/
dot-claude/plans/
dot-claude/plugins/
dot-claude/projects/
dot-claude/shell-snapshots/
dot-claude/stats-cache.json
dot-claude/statsig/
dot-claude/todos/
